/* custom_style.css content */
.bg_colour {
    background-color: #F0F0F0
}

/* Using Google Fonts Poppins for the entire body */
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Default weight */
}

H1 {
    font-weight: 600; /* Bolder for headers */
}

H4 {
    font-weight: 500; /* Bolder for headers */
}